In [23]:
import pandas as pd
import numpy as np

df = pd.read_csv('annual.csv')
df.head()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
1,2020,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...

In [22]:
df.iloc[10:21,:]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
10,2020,Level 1,99999,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"1,756",ANZSIC06 divisions A-S (excluding classes K633...
11,2020,Level 1,99999,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"450,394",ANZSIC06 divisions A-S (excluding classes K633...
12,2020,Level 1,99999,All industries,Dollars (millions),H20,Non-operating expenses,Financial performance,"16,274",ANZSIC06 divisions A-S (excluding classes K633...
13,2020,Level 1,99999,All industries,Dollars (millions),H21,Opening stocks,Financial performance,"68,109",ANZSIC06 divisions A-S (excluding classes K633...
14,2020,Level 1,99999,All industries,Dollars (millions),H22,Closing stocks,Financial performance,"69,123",ANZSIC06 divisions A-S (excluding classes K633...
15,2020,Level 1,99999,All industries,Dollars (millions),H23,Surplus before income tax,Financial performance,"79,400",ANZSIC06 divisions A-S (excluding classes K633...
16,2020,Level 1,99999,All industries,Dollars (millions),H24,Total assets,Financial position,"2,396,143",ANZSIC06 divisions A-S (excluding classes K633...
17,2020,Level 1,99999,All industries,Dollars (millions),H25,Current assets,Financial position,"665,643",ANZSIC06 divisions A-S (excluding classes K633...
18,2020,Level 1,99999,All industries,Dollars (millions),H26,Fixed tangible assets,Financial position,"562,646",ANZSIC06 divisions A-S (excluding classes K633...
19,2020,Level 1,99999,All industries,Dollars (millions),H29,Other assets,Financial position,"1,167,854",ANZSIC06 divisions A-S (excluding classes K633...
20,2020,Level 1,99999,All industries,Dollars (millions),H30,Total equity and liabilities,Financial position,"2,396,143",ANZSIC06 divisions A-S (excluding classes K633...

In [6]:
df1 = pd.read_csv(r'F:\data.csv')
df1.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [12]:
df1['Duration']

0      60
1      60
2      60
3      45
4      45
       ..
164    60
165    60
166    60
167    75
168    75
Name: Duration, Length: 169, dtype: int64

In [14]:
df1.isnull().sum()

Duration    0
Pulse       0
Maxpulse    0
Calories    5
dtype: int64

In [44]:
import pandas as pd
df2 = pd.read_csv(r'C:\Users\Boominathan\Downloads\order_details.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Boominathan\\Downloads\\order_details.csv'